ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #33B5E5;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding-left: 15px;
    text-decoration: none;
}

table{
    width: 100%;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

th{
    background-color: #1FA0CF;
    color: white;
}

th, td{
    padding: 15px;
}

.flip{
    width: 100%;
    background-color: #1FA0CF;
    color: white;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

.box {
    border:2px solid #0094ff;
    text-align: center;
}
.box h2 {
    background:#0094ff;
    color:white;
    padding:10px;
}
.box p {
    color:#333;
    padding:10px;
}
.box {
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
}
div.window {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    border: 2px solid #0094FF;
}

div.titlebar {
    top: 0px;
    background-color: #0094FF;
    color: white;
    border-bottom: groove #1FA0CF 2px;
    padding: 3px 5px 2px 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

div.content {
    top: 25px;
    padding: 10px;
    overflow: auto;
    background-color: #ffffff;
    text-align: center;
}

input[type=password] {
    width: 100%;
    padding: 12px, 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #11a300;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
}

input[type=submit]:hover {
    background-color: #33B5E5;
}

form{
    display: inline;
}