@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <link rel="stylesheet" type="text/css" href="~/styles.css" />
</head>
<body>
    <ul>
        <li><h1><a href="">BusTrack</a></h1></li>
    </ul>
    <div class="window">
        <div class="titlebar">@ViewData["title"]</div>
        <div class="content">@ViewData["msg"]</div>
    </div>
</body>