@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-theme.css" />
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/fusioncharts/fusioncharts.js"></script>
    <script type="text/javascript" src="~/fusioncharts/themes/fusioncharts.theme.fint.js"></script>
    <script type="text/javascript" src="~/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="~/daterangepicker.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            var jsonData = "";
            $.getJSON("getpiedata", function (data, status) {
                if (status == "success") {
                    var chart = new FusionCharts({
                        "id": "chart",
                        "type": "doughnut2d",
                        "renderAt": "piechart",
                        "width": 1000,
                        "height": 700,
                        "dataFormat": "json",
                        "dataSource": {
                            "chart": {
                                "caption": "Viajes por línea",
                                "startingangle": "310",
                                "decimals": "0",
                                "showLegend": "1",
                                "defaultcenterlabel": "Viajes totales con línea",
                                "centerlabel": "Número de viajes: $value",
                                "theme": "fint"
                            },
                            "data": data
                        }
                    });
                    chart.render();
                } else {
                    $("#piechart").hide();
                }
            });
            $(".flip").click(function (e) {
                e.preventDefault();
                if ($("#piechart").is(":visible")) $(".flip").html($(".flip").html().replace("Ocultar", "Mostrar"));
                else $(".flip").html($(".flip").html().replace("Mostrar", "Ocultar"));
                $("#piechart").slideToggle(400, function () {
                    if ($("#piechart").is(":visible") && jsonData != "") {
                        FusionCharts('chart').setJSONData(jsonData);
                        jsonData = "";
                    }
                });
                $("html, body").animate({ scrollTop: $('#piechart').offset().top + $('#piechart').height() }, 1000);
            });
            var today = moment();
            var week = moment().subtract(7, 'd');
            var month = moment().subtract(1, 'M');
            var year = moment().subtract(1, 'y');
            var thisYear = moment().startOf('y');
            var thisMonth = moment().startOf('M');
            var thisWeek = moment().startOf('week');
            var callback = function (json, status) {
                if (status == "success") {
                    var pieData = json['chart'];
                    delete json['chart'];
                    for (var key in json) {
                        if (json.hasOwnProperty(key)) {
                            var jq = $('#' + key);
                            jq.html(json[key]["Value"]);
                        }
                    }
                    jsonData = {
                        "chart": {
                            "caption": "Viajes por línea",
                            "startingangle": "310",
                            "decimals": "0",
                            "showLegend": "1",
                            "defaultcenterlabel": "Viajes totales con línea",
                            "centerlabel": "Número de viajes: $value",
                            "theme": "fint"
                        },
                        "data": jQuery.parseJSON(pieData)
                    };
                    var chart = FusionCharts('chart');
                    chart.setJSONData(jsonData);
                }
            }
            $("#datefilter").daterangepicker({
                "opens": "left",
                "showDropdowns": true,
                "showWeekNumbers": true,
                "autoApply": true,
                "startDate": today,
                "endDate": today,
                "ranges": {
                    "Última semana": [
                        week,
                        today
                    ],
                    "Último mes": [
                        month,
                        today
                    ],
                    "Último año": [
                        year,
                        today
                    ],
                    "Esta semana": [
                        thisWeek,
                        today
                    ],
                    "Este mes": [
                        thisMonth,
                        today
                    ],
                    "Este año": [
                        thisYear,
                        today
                    ],
                    "Sin filtrar": []
                },
                "locale": {
                    "format": "MM/DD/YYYY",
                    "separator": " - ",
                    "applyLabel": "Aplicar",
                    "cancelLabel": "Cancelar",
                    "fromLabel": "Desde",
                    "toLabel": "A",
                    "customRangeLabel": "Personalizado",
                    "weekLabel": "S",
                    "daysOfWeek": [
                        "D",
                        "L",
                        "M",
                        "X",
                        "J",
                        "V",
                        "S"
                    ],
                    "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ],
                    "firstDay": 1
                }
            },
            function (start, end, label) {
                if (label == 'Sin filtrar') {
                    $.getJSON("filter", callback);
                } else {
                    $.getJSON("filter/" + start.toISOString() + "/" + end.toISOString(), callback);
                }
            });
        });
    </script>
</head>

<body style="background: url(/background.jpg);">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-left" href="/" style="margin-right: 5px;"><img alt="BusTrack" src="~/BusTrackIcon.jpg" /></a>
            </div>
            <div id="menu" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navb">
                    <li class="active"><a href="/"><img src="~/stats.png" /> Inicio</a></li>
                    <li><a href="https://github.com/Infernage/TFG2016"><img src="~/source.png" /> Fuente del proyecto</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="height: 55px">
                    <li style="height: 100%"><button class="btn" id="datefilter" style="height: 100%; background-color: transparent; width: 100%">Filtrar por fecha</button></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="background-color: white; padding-bottom: 15px; padding-top: 15px;">
        <table class="table table-striped table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entry in ViewData)
                {
                    <tr>
                        <td>@(((KeyValuePair<string, object>)entry.Value).Key)</td>
                        <td><span id="@entry.Key">@(((KeyValuePair<string, object>)entry.Value).Value)</span></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="flip" style="width: 100%;"><button style="width: 100%;" type="button" class="btn btn-lg btn-default">Mostrar gráfico de viajes por línea</button></div>
        <div id="piechart" style="display: none; width: 1000px; margin-left: auto; margin-right: auto;"></div>
    </div>
</body>