@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<script type="text/javascript" src="~/sha.js"></script>
<script type="text/javascript">
    function validation() {
        var pass1 = document.getElementById("password").value;
        var pass2 = document.getElementById("confPassword").value;
        var sign = document.getElementById("sign").value;
        if (pass1 != pass2) {
            document.getElementById("password").style.borderColor = "#E34234";
            document.getElementById("confPassword").style.borderColor = "#E34234";
            document.getElementById("error").style.color = "#E34234";
            document.getElementById("error").innerHTML = "Passwords don't match";
            return false;
        }
        if (pass1 == "" || pass2 == "") {
            document.getElementById("password").style.borderColor = "#E34234";
            document.getElementById("confPassword").style.borderColor = "#E34234";
            document.getElementById("error").style.color = "#E34234";
            document.getElementById("error").innerHTML = "Please, insert a password!";
            return false;
        }

        var sha = new jsSHA("SHA-512", "TEXT", {
            numRounds: 1,
            encoding: "UTF8"
        });
        sha.update(pass1 + sign);
        document.getElementById("hash").value = sha.getHash("B64");
        return true;
    }
</script>

<form action="/account/resetpassword" method="post" onsubmit="return validation()">
    Password: <input type="password" data-val="true" data-val-required="Password required!" id="password" name="password" /><br />
    Confirm password: <input type="password" data-val="true" data-val-required="Password required!" id="confPassword" name="confPassword" /><br />
    <input type="hidden" id="userId" name="userId" value="@ViewBag.userId" />
    <input type="hidden" id="code" name="code" value="@ViewBag.code" />
    <input type="hidden" id="exp" name="exp" value="@ViewBag.exp" />
    <input type="hidden" id="sign" name="sign" value="@ViewBag.sign" />
    <input type="hidden" id="hash" name="hash" value="" />
    <div id="error"></div>
    <button type="submit">Confirm</button>
</form>