@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/styles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-theme.css" />
    <script type="text/javascript" src="~/sha.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.form-control').keypress(function () {
                $('.form-group').removeClass('has-error');
                $('#error').html('');
            });
        });
        function validation() {
            var pass1 = document.getElementById("password").value;
            var pass2 = document.getElementById("confPassword").value;
            var sign = document.getElementById("sign").value;
            if (pass1 != pass2) {
                $('.form-group').addClass('has-error');
                $('#error').html("Las contraseñas no coinciden");
                return false;
            }
            if (pass1 == "" || pass2 == "") {
                $('.form-group').addClass('has-error');
                $('#error').html("Por favor, introduce una contraseña");
                return false;
            }

            var sha = new jsSHA("SHA-512", "TEXT", {
                numRounds: 1,
                encoding: "UTF8"
            });
            sha.update(pass1 + sign);
            document.getElementById("hash").value = sha.getHash("B64");
            return true;
        }
    </script>
</head>

<body style="background: url(/background.jpg);">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-left" href="/" style="margin-right: 5px;"><img src="~/BusTrackIcon.jpg" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/"><img src="~/stats.png" /> Inicio</a></li>
                    <li><a href="https://github.com/Infernage/TFG2016"><img src="~/source.png" /> Fuente del proyecto</a></li>
                    <li><a href="https://github.com/Infernage/TFG2016/wiki"><img src="~/info.png" /> Información</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Resetear contraseña</h3></div>
            <div class="panel-body">
                <form action="/account/resetpassword" method="post" onsubmit="return validation()">
                    <div class="form-group">
                        <label class="control-label" for="password">Contraseña</label>
                        <input class="form-control" type="password" data-val="true" data-val-required="Campo obligatorio" id="password" name="password" /><br />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="confPassword">Confirmar contraseña</label>
                        <input class="form-control" type="password" data-val="true" data-val-required="Campo obligatorio!" id="confPassword" name="confPassword" /><br />
                    </div>
                    <input type="hidden" id="userId" name="userId" value="@ViewBag.userId" />
                    <input type="hidden" id="code" name="code" value="@ViewBag.code" />
                    <input type="hidden" id="exp" name="exp" value="@ViewBag.exp" />
                    <input type="hidden" id="sign" name="sign" value="@ViewBag.sign" />
                    <input type="hidden" id="hash" name="hash" value="" />
                    <div class="form-group"><label id="error" class="control-label"></label></div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>