<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetCross.Memory.Unsafe" version="0.2.3.2" targetFramework="monoandroid60" />
  <package id="Fody" version="1.29.4" targetFramework="monoandroid60" developmentDependency="true" />
  <package id="Realm" version="0.76.1" targetFramework="monoandroid60" developmentDependency="true" />
  <package id="Xamarin.Android.Support.Design" version="23.1.1.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.1.1.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.1.1.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.1.1.1" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Location" version="29.0.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Maps" version="29.0.0.1" targetFramework="monoandroid60" />
</packages>